<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    backupStaticAttributes="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="./vendor/autoload.php"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    >
    <testsuites>
        <testsuite name="trees UTS (Unit Test Suite)">
            <directory phpVersion="5.4">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
